
    <div class="main-box">
        <div class="flex-row justify-content-between d-flex">
            <div class="dashboard">
                <p>Dashboard</p>
            </div>
            <div class="pt-3 me-3">
                <button class="btn btn-outline-dark export">Export PDF</button>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-lg-2">
            <div class="box pt-1 text-center p-1">
                <h2>750</h2>
                <h6 class="text-secondary">Total Staff</h6>
            </div>
        </div>
        <div class="col-lg-2 p-0">
            <div class="box pt-1 text-center p-1">
                <h2>0</h2>
                <h6 class="text-secondary">Total Registered</h6>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box pt-1 text-center p-1">
                <h2>225</h2>
                <h6 class="text-secondary">Total Assessments</h6>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <div class="box pt-1 text-center p-1">
                <h2>0</h2>
                <h6 class="text-secondary">Total Vaccinated</h6>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box pt-1 text-center p-1">
                <h2>0</h2>
                <h6 class="text-secondary">Registered Staff This Month</h6>
            </div>
        </div>
    </div>