<!-- <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container-fluid">
        <a class="mr-auto mx-4" href="#"><img src="../../assets/menu.svg" class="img-fluid" /></a>
        <a class="mr-auto mx-4" href="#"><img src="../../assets/logo.svg" class="img-fluid" width="140px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-1" id="navbarScroll">
            <ul class="nav nav-tabs me-auto" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active mx-3 px-0 py-3" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link mx-3 px-0 py-3" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">User Management</a>
                </li>
            </ul>

            <div class="justify-content-end d-flex flex-row pt-2">
                <div class="me-4">
                    <p class="text-secondary fs-6 fw-bolder">Srilakshmi</p>
                </div>
                <div class="div">
                    <img src="../../assets/person-circle.svg" class="img-fluid" width="25" />
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid pt-5 mt-2 pb-5">
            <app-content></app-content>
            <app-graph></app-graph>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <app-employee-dashboard></app-employee-dashboard>
    </div>
</div>
 -->

<!-- <h1>hosturl   {{hostURL}}</h1>
<h1>username   {{username}}</h1>
<h1>token   {{token}}</h1> -->



<router-outlet></router-outlet>

<!-- send data parent component to child component -26 vedio- -->
<!-- <app-child [item]="data"></app-child> -->
<!--  get at a time multiple parent data -->
<!-- <app-child [item]="data"></app-child>
<app-child [item]="data"></app-child>
<app-child [item]="data"></app-child> -->  
 
<!-- <button (click)="updateDate()">Updata child component</button> -->


<!-- reusable 27 vedio -->

<!-- <ul *ngFor="let user of userDetails">
<app-reuseable [item]="user"></app-reuseable>
</ul> -->
