/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.btn-primary{
    background-color: #F9A51A !important;
    border: 1px solid #F9A51A !important;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
}
.btn-primary:hover{
    background-color: #f6f8fa !important;
    border: 1px solid #f6f8fa !important;
    color: #000;
    border-radius: 10px;
    font-weight: 600;
}
.btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 #f6f8fa !important;
}
.box{
    border:2px solid #F9A51A;
    border-radius: 10px;
}

.nav-item > .nav-link{
    font-weight: 400;
    color: #000;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-bottom: 3px solid #F9A51A !important;
    font-weight: 600;
    color: #000;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent !important;
}
.nav-tabs {
    border-bottom: 1px solid #fff;
}
