<div class="">
    <div class="row pt-2">
        <div class="col-lg-5">
            <div class="box text-center pt-2 ">
                <p class="pb-5 mb-5">Daily Assessments</p>
                <!-- <app-graphone></app-graphone> -->
            </div>
        </div>
        <div class="col-lg-7">
            <div class="box text-center pt-2">
                <p class="pb-5 mb-5">Department Specific Assessments</p>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg-5">
            <div class="box text-center pt-2">
                <p class="pb-5 mb-5">Daily Vaccination Status</p>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="box text-center pt-2">
                <p class="pb-5 mb-5">Department Specific Vaccination Status</p>
            </div>
        </div>
    </div>
</div>